<p>
<a href="http://faif.us{{ obj.ogg_path }}"><img alt="[Direct download of cast in Ogg/Vorbis
                                          format]" src="http://faif.us/img/cast/audio_ogg_button.png"/></a>
<a href="http://faif.us{{ obj.mp3_path }}"><img alt="[Direct download of cast in MP3 format]"
                                     src="http://faif.us/img/cast/audio_mp3_button.png"/></a>
</p>
<h3>Show Notes</h3>

{{ obj.body|safe }}

<hr width="80%"/>

<p>Send feedback and comments on the cast
to <a href="mailto:cast@faif.us">&lt;oggcast@faif.us&gt;</a>.
You can keep in touch with <a href="http://faif.us">Free as in Freedom</a> on our IRC channel, #faif on irc.freenode.net, and
  by <a href="http://identi.ca/conservancy">following Conservancy on
    identi.ca</a> and <a href="https://twitter.com/conservancy">and Twitter</a>.</p>

<p>Free as in Freedom is produced by <a href="http://danlynch.org/blog/">Dan Lynch</a>
  of <a href="http://danlynch.org/">danlynch.org</a>.
Theme
  music written and performed
  by <a href="http://www.miketarantino.com">Mike Tarantino</a>
  with <a href="http://www.charliepaxson.com">Charlie Paxson</a> on drums.</p>

<p><a rel="license"
   href="https://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0"
   src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" hspace=10 /></a>
   The content
   of <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Sound" rel="dc:type">this
   audcast</span>, and the accompanying show notes and music are licensed
   under the <a rel="license"
   href="https://creativecommons.org/licenses/by-sa/4.0/">Creative
   Commons Attribution-Share-Alike 3.0 USA license (CC BY-SA 4.0)</a>.
</p>
