<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>{% block title %}{% block subtitle %}{% endblock %}Free as in Freedom{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Free as in Freedom is a bi-weekly oggcast about legal, policy and other issues in Free, Libre and Open Source Software" />
    <meta name="keywords" content="software, freedom, podjango, open source, gnu, GNU, Open Source, Free and Open Source, Free and Open Source Software, FLOSS, FOSS, protect, protection, help, policy, linux, non-profit, oggcast, podcast" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/podjango.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/fundraiser.js"></script>
    {% block head %}{% endblock %}
  </head>

  <body class="faif-{% block category %}other{% endblock %}">
    <div id="podjangoheader">
      <h1><a href="/">Free as in Freedom</a></h1>
    </div>
    {% block outercontent %}<div id="mainContent">
      <p><strong>Please donate now</strong> to send Producer Dan Lynch to a Free
      Software conference of his choice, where he can help us record
      interviews and otherwise participate in the Free Software conference community:</p> 

          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LU34AW8K6U776">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<p>We seek to raise $2,500 to fund Dan's trip.  Amounts raised beyond that
  benefit Software Freedom Conservancy (which is the non-profit where the show's
  hosts, Karen and Bradley, work).</p>

$<span id="fundraiser-so-far">1,546.46</span> of the
$<span id="fundraiser-goal">2,500</span> goal has been met.<br/>
<div id="progressbar" style="height:20px;"><span id="fundraiser-percentage" style="float:right; align:center; margin-right:40%"></span></div>
<p style="font-size: 75%">(Progress updated weekly.)</p>

      {% block content %}{% endblock %}</div>{% endblock %}
    <div id="podjangofooter">
      {% block copyright_info %}
  
<p>Free as in Freedom is produced by <a href="http://danlynch.org/blog/">Dan Lynch</a>
  of <a href="http://www.podfactory.org/">podfactory.org</a>.  Theme
  music written and performed
  by <a href="http://www.miketarantino.com">Mike Tarantino</a>
  with <a href="http://www.charliepaxson.com">Charlie Paxson</a> on drums.</p>

      <p><a href="/">Main Page</a> | <a href="/license/">License of show
      and website</a>  | <a href="/feeds/cast-ogg/">Ogg Feed</a> | <a href="/feeds/cast-mp3/">MP3 Feed</a></p>
      <p class="copyright_info">Please see the
      <a href="/license">license page</a> for details about the licensing
      of the show, the content of this website, and the software that runs
      this website.</p>
{% endblock %}
    </div>
  </body>
</html>
