<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>{% block title %}{% block subtitle %}{% endblock %}Free as in Freedom{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Free as in Freedom is a bi-weekly oggcast about legal, policy and other issues in Free, Libre and Open Source Software" />
    <meta name="keywords" content="software, freedom, podjango, open source, gnu, GNU, Open Source, Free and Open Source, Free and Open Source Software, FLOSS, FOSS, protect, protection, help, policy, linux, non-profit, oggcast, podcast" />
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/podjango.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    {% block head %}{% endblock %}
  </head>

  <body class="faif-{% block category %}other{% endblock %}">
    <div id="podjangoheader">
      <h1><a href="/">Free as in Freedom</a></h1>
    </div>
      {% block outercontent %}<div id="mainContent">{% block content %}{% endblock %}</div>{% endblock %}
    <div id="podjangofooter">
{% block copyright_info %}
<p>Free as in Freedom is produced by <a href="http://danlynch.org/blog/">Dan Lynch</a>
  of <a href="http://www.halfbakedmedia.com/">half baked media</a>.  Theme
  music written and performed
  by <a href="http://www.miketarantino.com">Mike Tarantino</a>
  with <a href="http://www.charliepaxson.com">Charlie Paxson</a> on drums.</p>

      <p><a href="/">Main Page</a> | <a href="/license/">License of show
      and website</a>  | <a href="/feeds/cast-ogg/">Ogg Feed</a> | <a href="/feeds/cast-mp3/">MP3 Feed</a></p>
      <p class="copyright_info">Please see the
      <a href="/license">license page</a> for details about the licensing
      of the show, the content of this website, and the software that runs
      this website.</p>
{% endblock %}
    </div>
  </body>
</html>
