{% extends "base_podcast.html" %}

{% block content %}

<div class="singleColumn">

<!-- FIXME: more hard coding here for FaiF -->

<h1>Free as in Freedom</h1>

<p>Free as in Freedom is a bi-weekly oggcast, hosted and presented by
<a href="http://ebb.org/bkuhn">Bradley M. Kuhn</a> and <a href="http://gnomg.org">Karen Sandler</a>.
The discussion includes legal, policy, and many other issues in the Free, Libre,
and Open Source Software (FLOSS) world.  Occasionally, guests join
Bradley and Karen to discuss various topics regarding FLOSS.</p>

<p>You can email feedback on the show
  to <a href="mailto:oggcast@faif.us">&lt;oggcast@faif.us&gt;</a>, or join
  bkuhn and other listeners in our IRC channel, #faif on
  irc.freenode.net.</p>


<h2>Follow FaiF's RSS, and Other Feeds</h2>

<p>There is RSS for both <a href="/feeds/cast-ogg/">ogg format</a>
  and  <a href="/feeds/cast-mp3/">mp3 format</a>.  This link <em>might</em>
  work if you want to <a href="itpc://faif.us/feeds/cast-mp3/">subscribe to the show with proprietary devices.</a>  </p>

<p>If you're interested you can
  follow <a href="http://identi.ca/bkuhn">Bradley</a>, <a href="http://identi.ca/kaz">Karen</a>,
  and <a href="http://identi.ca/faif">the oggcast itself</a>
  on <a href="http://identi.ca/">the identi.ca microblogging service</a>.
  Also, <a href="http://ebb.org/bkuhn/blog">Bradley</a>
  and <a href="http://gnomg.org">Karen</a> both have blogs you can
  read.</p>

<h2>
<a href="/feeds/cast-ogg/"
       class="feedlink"><img src="/img/cast/rss-audioogg.png"
                             alt="[Ogg/Vorbis Audio RSS]"/></a>
<a href="/feeds/cast-mp3/"
       class="feedlink"><img src="/img/cast/rss-audiomp3.png"
                             alt="[MP3 Audio
       RSS]"/></a><a href="/cast/">Recent Free as in Freedom Shows</a></h2>

{% for cc in cast %}
<div class="shaded">
<a class="feedlink" href="{{ cc.ogg_path }}"><img alt="[Get cast in Ogg/Vorbis
                                          format]" src="/img/cast/audio_ogg_button.png"/></a>
<a class="feedlink" href="{{ cc.mp3_path }}"><img alt="[Get cast in MP3 format]"
                                     src="/img/cast/audio_mp3_button.png"/></a>
<p class="date">{{ cc.pub_date|date:"F j, Y" }}</p>
<h3><a href="{{ cc.get_absolute_url }}">{{ cc.title|safe }}</a></h3>
{{ cc.summary|safe }}
</div>
{% endfor %}
<p><a href="/cast/">All oggcasts&hellip;</a></p>
</div>
{% endblock %}
